<!-- Diálogo para Editar Imagem -->
<dialog id="modal_edit_image" class="modal hidden">
    <div class="modal-box" hx-ext="response-targets">
      <h3 class="text-lg font-bold mb-4">Editar Imagem</h3>
      <form class="w-full" hx-target-error='#edit-form-alert-image' hx-swap='outerHTML'
        hx-trigger="submit" hx-put="{% url 'edit_image' %}" id="edit_form_image" hx-indicator="#edit-loading-image">
        <span id="edit-form-alert-image"></span>

        <!-- Campo escondido para o ID da imagem -->
        <input type="hidden" name="id" id="edit_image_id">

        <!-- Campos para edição -->
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Descrição</span>
          </div>
          <textarea type="text" name="description" id="edit_image_description" class="textarea textarea-bordered w-full"></textarea>
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Tags</span>
          </div>
          <input type="text" name="tags" id="edit_image_tags" class="input input-bordered w-full" placeholder="Adicione as tags separadas por vírgula">
        </label>

        <div class="modal-action">
          <form method="dialog" id="modal_form_edit_image">
            <button class="btn" form="modal_form_edit_image">Fechar</button>
          </form>
          <button type="submit" class="btn btn-primary btn-upload" disabled>
            <span class="loading loading-sm loading-spinner hidden [&.htmx-request]:block" id="edit-loading-image"></span>
            Salvar alterações
          </button>
        </div>
      </form>
    </div>
  </dialog>
