{% extends "base/app_base.html" %}

{% block title %}Áudios{% endblock %}
{% block heading %}Áudios{% endblock %}

<style>
  #audioModal {
    min-width: 400px;
  }
</style>

{% block content %}
<div class="flex-1">
  <h1 class="text-2xl font-bold mb-4">Áudios</h1>
  {% if audios %}
    <ul class="list-none p-0 m-0">
      {% for audio in audios %}
        <li class="flex items-center mb-2">
          <div class="border border-gray-300 rounded-lg p-2 flex items-center w-full">
            <!-- Contêiner do Ícone de Play, Nome e Botões -->
            <div class="flex items-center w-8 h-8 overflow-hidden flex-shrink-0 p-2 cursor-pointer">
              <button onclick="openModalAudio('{{ audio.file.url }}', '{{ audio.get_file_name }}', '{{ audio.file_size }}', '{{ audio.uploaded_at }}', '{{ audio.mime_type }}', '{{ audio.duration }}', '{{ audio.bitrate }}', '{{ audio.sample_rate }}', '{{ audio.channels }}', '{{ audio.genre }}', '{{ audio.tags }}', '{{ audio.description }}')">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-blue-500">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 4.5L16 12L6 19.5V4.5Z" />
                </svg>
              </button>
            </div>
            <div class="flex-1 ml-4 flex items-center">
              <p class="mr-2 w-60 truncate">{{ audio.file.name|slice:"6:" }}</p>
              <div class="ml-auto flex items-center">
                <button title="Editar" class="bg-blue-500 text-white p-1 rounded hover:bg-blue-700 flex items-center justify-center mr-2" onclick="openEditModal('{{ audio.id }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.25 4.75l3.5 3.5-8.5 8.5H7v-3.25L15.25 4.75zM19.25 5.25a1.5 1.5 0 1 1-2.121-2.121 1.5 1.5 0 0 1 2.121 2.121z" />
                  </svg>
                </button>
                <button title="Excluir" class="bg-red-500 text-white p-1 rounded hover:bg-red-700 flex items-center justify-center" onclick="deleteAudio('{{ audio.id }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Não há áudios</p>
  {% endif %}
</div>

<!-- Modal -->
<div id="audioModal" class="fixed inset-0 bg-black bg-opacity-75 hidden flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded-lg relative max-w-[100%] max-h-[100%] overflow-auto min-w-[400px]">
    <span class="absolute top-0 right-1 text-black text-2xl cursor-pointer" onclick="closeModalAudio()">&times;</span>
    <div class="flex flex-col items-center w-full">
      <audio id="modalAudio" controls class="w-full">
        <source id="modalAudioSource" src="" type="audio/mp3">
        Seu navegador não suporta o elemento de áudio.
      </audio>
      <div class="text-center mt-4">
        <p id="modalAudioName" class="font-bold"></p>
        <button id="showAudioDetailsButton" class="text-blue-500 mt-2" onclick="toggleAudioDetails()">Mostrar Detalhes</button>
        <div id="modalAudioDetails" class="hidden mt-4 text-center">
          <p id="modalAudioSize"></p>
          <p id="modalAudioDate"></p>
          <p id="modalAudioMime"></p>
          <p id="modalAudioDuration"></p>
          <p id="modalAudioBitrate"></p>
          <p id="modalAudioSampleRate"></p>
          <p id="modalAudioChannels"></p>
          <p id="modalAudioGenre"></p>
          <p id="modalAudioTags"></p>
          <p id="modalAudioDescription"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let audioElement = document.getElementById('modalAudio');

  function openModalAudio(audioUrl, audioName, audioSize, audioDate, audioMime, audioDuration, audioBitrate, audioSampleRate, audioChannels, audioGenre, audioTags, audioDescription) {
    let sourceElement = document.getElementById('modalAudioSource');
    sourceElement.src = audioUrl;
    audioElement.load();
    document.getElementById('modalAudioName').textContent = 'Nome: ' + audioName;
    document.getElementById('modalAudioSize').textContent = 'Tamanho do arquivo: ' + audioSize + ' bytes';
    document.getElementById('modalAudioDate').textContent = 'Data: ' + audioDate;
    document.getElementById('modalAudioMime').textContent = 'Tipo MIME: ' + audioMime;
    document.getElementById('modalAudioDuration').textContent = 'Duração: ' + audioDuration;
    document.getElementById('modalAudioBitrate').textContent = 'Bitrate: ' + audioBitrate;
    document.getElementById('modalAudioSampleRate').textContent = 'Taxa de amostragem: ' + audioSampleRate;
    document.getElementById('modalAudioChannels').textContent = 'Canais: ' + audioChannels;
    document.getElementById('modalAudioGenre').textContent = 'Gênero: ' + audioGenre;
    document.getElementById('modalAudioTags').textContent = 'Tags: ' + audioTags;
    document.getElementById('modalAudioDescription').textContent = 'Descrição: ' + audioDescription;
    document.getElementById('audioModal').classList.remove('hidden');
    audioElement.play();
  }

  function closeModalAudio() {
    document.getElementById('audioModal').classList.add('hidden');
    audioElement.pause();
    audioElement.currentTime = 0;
  }

  function toggleAudioDetails() {
    let details = document.getElementById('modalAudioDetails');
    let button = document.getElementById('showAudioDetailsButton');
    if (details.classList.contains('hidden')) {
      details.classList.remove('hidden');
      button.textContent = 'Ocultar Detalhes';
    } else {
      details.classList.add('hidden');
      button.textContent = 'Mostrar Detalhes';
    }
  }
</script>
{% endblock %}
