<!-- mediacloud/templates/mediacloud/login.html -->
{% extends "base/auth_base.html" %}

{% block title %}Entrar{% endblock %}

{% block content %}
<div class="w-full max-w-md flex flex-col">
  <h2 class="text-3xl font-bold">Entrar</h2>
  <form method="post" class="space-y-4">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{ form.non_field_errors }}</span>
    </div>
    {% endif %}

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Usuário</span>
      </div>
      <input type="text" name="username" class="input input-bordered w-full"
        value="{{ form.username.value|default_if_none:'' }}">
      {% for error in form.username.errors %}
      <div class="label label-text-alt text-xs text-red-500">{{ error }}</div>
      {% endfor %}
    </label>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Senha</span>
      </div>
      <input type="password" name="password" class="input input-bordered w-full">
      {% for error in form.password.errors %}
      <div class="label label-text-alt text-xs text-red-500">{{ error }}</div>
      {% endfor %}
    </label>
    <button type="submit" class="btn btn-primary !mt-6 w-full">Entrar</button>
  </form>
  <span class="divider"></span>
  <a href="/register" class="btn btn-ghost">Cadastre-se</a>
</div>

{% endblock %}