{%load static%}
<!DOCTYPE html>
<html lang="en" data-theme='light'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/x-icon">
  <title>MediaCloud | {% block title %}{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,line-clamp,container-queries"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
  <!-- --p: 262 50% 40%;
  /* primary focus */
  --pf: 262 80% 40%;
  /* primary content */
  --pc: 0 0% 100%;

  /* secondary */
  --s: 316 70% 0%;
  /* secondary focus */
  --sf: 316 70% 100%;
  /* secondary content */
  --sc: 0 0% 50%;

  /* accent */
  --a: 175 70% 41%;
  /* accent content */
  --ac: 0 0% 100%;
  /* accent focus */
  --af: 175 70% 33%;

  /* info */
  --in: 198 93% 60%;
  /* info content */
  --inc: 198 100% 12%;

  /* success */
  --su: 158 64% 52%;
  /* success content */
  --suc: 158 100% 10%;

  /* warning */
  --wa: 43 96% 56%;
  /* warning content */
  --wac: 43 100% 11%;

  /* error */
  --er: 0 91% 71%;
  /* error content */
  --erc: 0 100% 14%;

  /* neutral */
  --n: 218 18% 12%;
  /* neutral focus */
  --nf: 223 17% 8%;
  /* neutral content */
  --nc: 220 13% 69%;

  /* base 100 */
  --b1: 220 18% 20%;
  /* base 200 */
  --b2: 220 17% 17%;
  /* base 300 */
  --b3: 219 18% 15%;
  /* base content */
  --bc: 21.01% 0.032 264.66 -->
  <style>
    [data-theme='light'] {
      --rounded-box: 6px;
      --rounded-btn: 6px;
      --rounded-badge: 4pxrem;
      --animation-btn: 0.15s;
      --animation-input: 0.15s;
      --btn-text-case: capitalize;
      --btn-focus-scale: 0.95;
      --border-btn: 1px;
      --tab-border: 1px;
      --tab-radius: 0.5rem;
      --p: 51.06% 0.23 276.97;
      --pf: 45.68% 0.215 277.02;
      --pc: 100% 0 0;
      --bc: 21.01% 0.032 264.66
    }
  </style>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  {% if messages %}
  <ul id="messages">
    <div class="toast toast-top toast-center">
      {% for message in messages %}
      <div class="text-sm font-medium text-white bg-gray-800 rounded p-2">
        <span>{{message}}</span>
      </div>
      {% endfor %}
    </div>
  </ul>
  {% endif %}
  <main>
    {% block base_content %}
    {% endblock %}
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const messagesContainer = document.querySelector("#messages");
      setTimeout(() => {
        messagesContainer.remove();
      }, 2000);
    });
  </script>
</body>